body {
    margin: 0;
    background-image: url('../img/Brick-wall-background-texture_1600x900.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.ball {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url('../img/bola2.png');
    background-size: cover;
    border-radius: 20px;
    position: absolute;
}

.board {
    display: block;
    background-image: url('../img/jump.png');
    background-size: cover;
    width: 180px;
    height: 120px;
    position: absolute;
    bottom: 0px;
}

.score {
    top: 0px;
    left: 0px;
    position: absolute;
    font-family: monospace;
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
}